<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sync" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>synPlguin</name>
    <js-module name="synPlguin" src="www/synPlguin.js">
        <clobbers target="synPlguin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="synPlguin">
                <param name="android-package" value="cordova.plugin.sync.synPlguin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/synPlguin.java" target-dir="src/cordova/plugin-sync/synPlguin" />
    </platform>
</plugin>